:root {
    --backgroundColor: #F3F3F3;
    --redColor: #D9414E;
    --greyColor: #AEB9BF;
    --beigeColor: #DAD8D0;
    --textColor: #0D0D0D;
}

@font-face {
    font-family: 'Sedgwick Ave Display';
    src: url(fonts/SedgwickAveDisplay-Regular.woff2);
}
@font-face {
    font-family: 'Sedgwick Ave';
    src: url(fonts/SedgwickAve-Regular.woff2);
}

img {
    max-width: 100%;
}

#fullscreen {
    width: 100%;
    height: 100%;
}

video {
    max-width: 100%;
}

iframe {
    max-width: 100%;
    aspect-ratio: 16/9;
}

nav ul {
    list-style: none;
    display: flex;
    font-family: 'Sedgwick Ave Display';
    font-size: clamp(1rem, 1.4cqw, 1.5rem);
    margin: 1% 0% 5% 0%;
    padding: 2%;
    border-bottom: 2px solid var(--redColor);
}
nav li {
    padding-right: 8%;
}
nav a {
    text-decoration: none;
    color: var(--textColor);
}
nav a:hover {
    color: var(--redColor);
}

body {
    background-color: var(--backgroundColor);
    background-image: url(imgs/blank-concrete-white-wall-texture-background_1017-15560.avif);
}

footer {
    margin: 2% 0% 1% 0%;
    font-family: 'Sedgwick Ave';
}

h1 {
    font-family: 'Sedgwick Ave Display';
    font-size: clamp(1.8rem, 4cqw, 5rem);
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.beige_color {
    background-color: var(--beigeColor);
    padding: 4% 4% 4% 4%;
}

@media (min-width: 650px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }
    .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}